In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import json

# Patient to Article Retrieval (PAR)

In [15]:
df_par_train = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PAR/qrels_train.tsv', sep='\t')
df_par_val = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PAR/qrels_dev.tsv', sep='\t')
df_par_test = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PAR/qrels_test.tsv', sep='\t')

In [25]:
df_par_train

          query-id  corpus-id  score
0        7665777-1   32320506      1
1        7665777-1   32293716      1
2        7665777-1   23219649      1
3        7665777-1   30339549      1
4        7665777-1   17470624      1
...            ...        ...    ...
2891940  8725232-2   27565388      1
2891941  8725232-2    7580712      1
2891942  8725232-2   27625137      1
2891943  8725232-2   30201576      1
2891944  8725232-2   34929111      1

[2891945 rows x 3 columns]

In [16]:
len(df_par_train), len(df_par_val), len(df_par_test)

(2891945, 107479, 114081)

In [36]:
par_pmids = pd.read_json('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PAR/PAR_PMIDs.json')

In [37]:
par_pmids

                0
0        27113353
1        17562963
2          276358
3        29042737
4        12139134
...           ...
1413082  20030804
1413083  18328413
1413084  22937961
1413085  17240214
1413086  26180446

[1413087 rows x 1 columns]

# Patient to Patient Retrieval (PPR)

In [26]:
df_ppr_train = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PPR/qrels_train.tsv', sep='\t')
df_ppr_val = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PPR/qrels_dev.tsv', sep='\t')
df_ppr_test = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PPR/qrels_test.tsv', sep='\t')

In [32]:
df_ppr_train

         query-id  corpus-id  score
0       7665777-1  7665777-2      1
1       7665777-1  7665777-3      1
2       7665777-1  7665777-4      1
3       7665777-1  7665777-5      1
4       7665777-1  7665777-6      1
...           ...        ...    ...
257361  8725231-1  3806124-1      1
257362  8725231-1  3184047-1      1
257363  8725231-1  3691905-1      1
257364  8725232-1  8725232-2      1
257365  8725232-2  8725232-1      1

[257366 rows x 3 columns]

In [34]:
len(df_ppr_train), len(df_ppr_val), len(df_ppr_test)

(257366, 6363, 7472)

In [27]:
ppr_corpus = pd.read_json('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/PPR/corpus.jsonl', lines=True)

In [33]:
ppr_corpus

              _id title                                               text
0       7665777-1        This 60-year-old male was hospitalized due to ...
1       7665777-2        A 39-year-old man was hospitalized due to an i...
2       7665777-3        One week after a positive COVID-19 result this...
3       7665777-4        This 69-year-old male was admitted to the ICU ...
4       7665777-5        This 57-year-old male was admitted to the ICU ...
...           ...   ...                                                ...
155146  8724979-3        A 30-year-old man received the second dose of ...
155147  8725212-1        A 65-year-old Caucasian man with a history of ...
155148  8725231-1        The reporting of the present case conforms to ...
155149  8725232-1        The first patient, a woman in her 50s, present...
155150  8725232-2        The second patient, a man in his 30s, presente...

[155151 rows x 3 columns]

# Queries

In [18]:
train_queries = pd.read_json('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/queries/train_queries.jsonl', lines=True)
val_queries = pd.read_json('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/queries/dev_queries.jsonl', lines=True)
test_queries = pd.read_json('/s3/misha/data_dir/PMC_patients/PMC-Patients-ReCDS/queries/test_queries.jsonl', lines=True)

In [24]:
train_queries

              _id                                               text
0       7665777-1  This 60-year-old male was hospitalized due to ...
1       7665777-2  A 39-year-old man was hospitalized due to an i...
2       7665777-3  One week after a positive COVID-19 result this...
3       7665777-4  This 69-year-old male was admitted to the ICU ...
4       7665777-5  This 57-year-old male was admitted to the ICU ...
...           ...                                                ...
155146  8724979-3  A 30-year-old man received the second dose of ...
155147  8725212-1  A 65-year-old Caucasian man with a history of ...
155148  8725231-1  The reporting of the present case conforms to ...
155149  8725232-1  The first patient, a woman in her 50s, present...
155150  8725232-2  The second patient, a man in his 30s, presente...

[155151 rows x 2 columns]

# PMC Patients

In [1]:
import json

with open('/s3/misha/data_dir/PMC_patients/PMC-Patients-V2.json', 'r') as f:
    df_patients_v2 = json.load(f)

len(df_patients_v2)

250294

In [8]:
df_patients_v2[0]

{'patient_id': '0',
 'patient_uid': '497050-1',
 'PMID': '15268761',
 'file_path': 'oa_comm/PMC000xxxxxx/PMC497050.xml',
 'title': 'Echocardiographic assessment and percutaneous closure of multiple atrial septal defects',
 'patient': 'A 34-year old woman was referred for consideration of percutaneous ASD closure. The ASD had been diagnosed when the patient was 12 years old and TTE had suggested that the right ventricle was dilating. At cardiac catheterisation there were mildly elevated right ventricular systolic pressures and a pulmonary to systemic flow ratio of over two. The secundum ASD was estimated to be 15 mm wide using TTE with aneurysmal formation of the interatrial septum. The patient was admitted for percutaneous ASD closure and underwent uncomplicated placement of a 17 mm Amplatzer septal occluder. Transesophageal echocardiography (TEE) during the procedure revealed the presence of a second ASD near the inferior vena cava and a small post-procedure shunt. The septal occluder did not completely cover both defects. Equivalent chest x-ray radiation dose (assuming a single posteroanterior projection chest x-ray is eight centi-Gray/cm2) was 400. Repeat TTE continued to demonstrate left to right shunting and the patient was readmitted for a further device closure six months later. At cardiac catheterisation, the second defect was identified low in the secundum septum between the fossa ovalis and the mouth of the coronary sinus. The defect was successfully closed with a 9 mm Amplatzer septal occluder with no evidence of obstructed flow in either the coronary sinus or the inferior vena cava. Equivalent chest x-ray radiation dose for the second procedure was 187. The patient remained well with no evidence of residual shunt six months following the procedure.',
 'age': [[34.0, 'year']],
 'gender': 'F',
 'pub_date': '2004'}

In [9]:
df_patients_v1 = pd.read_csv('/s3/misha/data_dir/PMC_patients/PMC-Patients.csv')

In [10]:
df_patients_v1

,patient_id,patient_uid,PMID,file_path,title,patient,age,gender,relevant_articles,similar_patients
0,0,7665777-1,33492400,comm/PMC007xxxxxx/PMC7665777.xml,Early Physical Therapist Interventions for Pat...,This 60-year-old male was hospitalized due to ...,"[[60.0, 'year']]",M,"{'32320506': 1, '32293716': 1, '23219649': 1, ...","{'7665777-2': 2, '7665777-3': 2, '7665777-4': ..."
1,1,7665777-2,33492400,comm/PMC007xxxxxx/PMC7665777.xml,Early Physical Therapist Interventions for Pat...,A 39-year-old man was hospitalized due to an i...,"[[39.0, 'year']]",M,"{'32320506': 1, '32293716': 1, '23219649': 1, ...","{'7665777-1': 2, '7665777-3': 2, '7665777-4': ..."
2,2,7665777-3,33492400,comm/PMC007xxxxxx/PMC7665777.xml,Early Physical Therapist Interventions for Pat...,One week after a positive COVID-19 result this...,"[[57.0, 'year']]",M,"{'32320506': 1, '32293716': 1, '23219649': 1, ...","{'7665777-1': 2, '7665777-2': 2, '7665777-4': ..."
3,3,7665777-4,33492400,comm/PMC007xxxxxx/PMC7665777.xml,Early Physical Therapist Interventions for Pat...,This 69-year-old male was admitted to the ICU ...,"[[69.0, 'year']]",M,"{'32320506': 1, '32293716': 1, '23219649': 1, ...","{'7665777-1': 2, '7665777-2': 2, '7665777-3': ..."
4,4,7665777-5,33492400,comm/PMC007xxxxxx/PMC7665777.xml,Early Physical Therapist Interventions for Pat...,This 57-year-old male was admitted to the ICU ...,"[[57.0, 'year']]",M,"{'32320506': 1, '32293716': 1, '23219649': 1, ...","{'7665777-1': 2, '7665777-2': 2, '7665777-3': ..."
...,...,...,...,...,...,...,...,...,...,...
167029,167029,8724979-3,34939881,noncomm/PMC008xxxxxx/PMC8724979.xml,Graves Disease Following the SARS-CoV-2 Vaccin...,A 30-year-old man received the second dose of ...,"[[30.0, 'year']]",M,"{'33543236': 1, '33674759': 1, '34533769': 1, ...","{'8724979-1': 2, '8724979-2': 2}"
167030,167030,8725212-1,34939449,noncomm/PMC008xxxxxx/PMC8725212.xml,Heart of the Matter: Syncope as a Rare Present...,A 65-year-old Caucasian man with a history of ...,"[[65.0, 'year']]",M,"{'10744016': 1, '4024175': 1, '690555': 1, '23...",{'4443876-1': 1}
167031,167031,8725231-1,34918977,noncomm/PMC008xxxxxx/PMC8725231.xml,A multidisciplinary collaborative model based ...,The reporting of the present case conforms to ...,"[[30.0, 'year']]",M,"{'31253137': 2, '27533770': 1, '25536724': 1, ...","{'6599372-1': 1, '3806124-1': 1, '3184047-1': ..."
167032,167032,8725232-1,34929111,noncomm/PMC008xxxxxx/PMC8725232.xml,Resection of small acoustic neuroma using the ...,"The first patient, a woman in her 50s, present...","[[55.0, 'year']]",F,"{'30169471': 1, '20193244': 1, '28816690': 1, ...",{'8725232-2': 2}
167033,167033,8725232-2,34929111,noncomm/PMC008xxxxxx/PMC8725232.xml,Resection of small acoustic neuroma using the ...,"The second patient, a man in his 30s, presente...","[[35.0, 'year']]",M,"{'30169471': 1, '20193244': 1, '28816690': 1, ...",{'8725232-1': 2}

In [9]:
len(df_patients_v1)

167034

# Metadata

In [43]:
with open('/s3/misha/data_dir/PMC_patients/PMC-Patients-MetaData/patient2article_relevance.json', 'r') as f:
    patients2article_relevance = json.load(f)

with open('/s3/misha/data_dir/PMC_patients/PMC-Patients-MetaData/patient2patient_similarity.json', 'r') as f:
    patients2patient_relevance = json.load(f)

In [41]:
len(patients2article_relevance)

167034

In [45]:
len(patients2patient_relevance)

167034